{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <style type="text/css">        
    </style>
{% endblock %}


{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Liste des amortissements</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Amortissements</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'flashes.html.twig' %}
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des amortissements</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type Evénement</th>
                                    <th>No d'échéance</th>
                                    <th>Capital restant dû</th>
                                    <th>Mensualité avec assurance</th>
                                    <th>Mensualité hors assurance</th>
                                    <th>Intérêts</th>
                                    <th>Assurance</th>
                                    <th>Capital remboursé</th>
                                    <th>Cumul des intérêts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{pret.getDateDeblocage ? pret.getDateDeblocage|date('d/m/Y') : "" }}</td>
                                    <td>Déblocage </td>
                                    <td></td>
                                    <td>{{pret.montantDeblocage|number_format(2, ',', ' ')}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% for amortissement in amortissements %}
                                <tr>
                                    <td>{{amortissement.date ? amortissement.date|date('d/m/Y') : "" }}</td>
                                    <td>
                                        {% if amortissement.capital_rembourse == 0  %}
                                            Échéance franchise
                                        {% else %}
                                            Echéance d'amortissement
                                        {% endif %}
                                    </td>
                                    <td>{{amortissement.num_echeance}}</td>
                                    <td>{{amortissement.capital_restant_du|number_format(2, ',', ' ')}}</td>
                                    <td>{{amortissement.mensualite_avec_assurance|number_format(2, ',', ' ')}}</td>
                                    <td>{{amortissement.mensualite_sans_assurance|number_format(2, ',', ' ')}}</td>
                                    <td>{{amortissement.interet|number_format(2, ',', ' ')}}</td>
                                    <td>{{amortissement.assurance|number_format(2, ',', ' ')}}</td>
                                    <td>{{amortissement.capital_rembourse|number_format(2, ',', ' ')}}</td>
                                    <td>{{amortissement.cumul_interet|number_format(2, ',', ' ')}}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="22">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript_script %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/date-eu.js"></script>
{% endblock %}

{% block javascript %}
$(document).ready( function () {
    $('table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        "columnDefs": [
            { type: 'date-eu', targets: 2 },
            { targets: 'no-sort', orderable: false },
        ],
        "pageLength": 200,
        "order": []
    });
} );
{% endblock %}
