{% extends 'base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" integrity="sha512-rxThY3LYIfYsVCWPCW9dB0k+e3RZB39f23ylUYTEuZMDrN/vRqLdaCBo/FbvVT6uC2r0ObfPzotsfKF9Qc5W5g==" crossorigin="anonymous" />
<style type="text/css">
    #vente_devis{display: none;}
</style>
{% endblock %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Modifier un devis</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('devis_client_list') }}">Devis</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Modifier un devis</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    {{ include('devis_client/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-content">
                {% if devis_client.getDocumentFile %}
                    {% if devis_client.getDocumentFile|slice(-3,3)|lower == "pdf" %}
                        <object class="pdfupload" data="/uploads/devis/{{devis_client.getDocumentFile}}" type="application/pdf" width="100%" height="980px">lien document : <a href="/uploads/devis/{{devis_client.getDocumentFile}}">{{ devis_client.getDocumentFile }}</a></object>
                        {% else %}
                        <img src="/uploads/devis/{{devis_client.getDocumentFile}}" alt="fichier facture uploadé" width="100%">
                    {% endif %}
                {% else %}
                    <span class="text-muted">-- AUCUN FICHIER EXPORTE --</span>
                {% endif %}
                </div>
            </div>
        </div>         
    </div>

    <div id="modalInfos" class="modal fade bs-example-modal-sm modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center" style="padding: 0px 30px 51px 30px">
                    <p style="margin-bottom: 18px; font-size: 16px;">Attention Document modifié veillez à mettre à jour les montants manuellement</p>
                    <span class="btn btn-primary" data-dismiss="modal" aria-label="Close">OK</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_import %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js" integrity="sha512-fx3aztaUjb4NyoD+Tso5g7R1l29bU3jnnTfNRKBiY9fdQOHzVhKJ10wEAgQ1zM/WXCzB9bnVryHD1M40775Tsw==" crossorigin="anonymous"></script>
{% endblock %}

{% block javascript %}
    $(document).ready( function () {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy'
        });
    } );   

    {% if is_document_change is defined %}
        console.log("qsdq");
        $('#modalInfos').modal("show");
    {% endif %}    
{% endblock %}

{% block javascript_script %}
    {{ include('devis_client/_js.html.twig') }}
{% endblock %}