<form method="POST" id="attachDevisClient" action="{{url}}?page={{page}}&{{tagLink}}">
    <div class="form-group">
        <input type="hidden" name="list-elt-id" value="{{facture_select}}">
    </div>

    <div class="entreprise-list list-devis form-group" style="margin-top: 0">
        {% for dv in devis %}
            
            <div>
                <input id="{{dv.id}}" type="radio" name="devis" value="{{dv.id}}" style="display: none;" required="required">
                <label for="{{dv.id}}" class="switch-entreprise entreprise-item" style="cursor: pointer; justify-content: flex-start; align-items: flex-start;">
                    <span style="margin-right: 16px;">
                        <img class="entreprise-img" src="{{ dv.chantier.defaultGalerie ? dv.chantier.defaultGalerie.getCompressedUrl : '/assets/images/logotransfmda.png' }}">
                    </span>
                    <div class="detail-devis" style="line-height: 21px;    color: #000;font-size: 15px;">
                        <div style="color: #676a6c">{{dv.chantier.nameentreprise}}</div>
                        <div>
                            <span class="label-devis">DocumentID: </span>
                            <span>{{ dv.getDocumentId }}</span> 
                            <span class="showDocument" data-file="/uploads/devis/{{dv.getDocumentFile}}" style="cursor: pointer; margin-left: 5px;"><img src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_3_pdf_x16.png" style="width: 20px;"></span>
                        </div>
                        <div>
                            <span class="label-devis">Date: </span>
                            <span>{{ dv.facturedAt|date('d/m/Y') }}</span> 
                        </div>
                        {% if dv.lot is not null %}
                        <div>
                            <span class="label-devis">Lot: </span>
                            <span>{{ dv.lot is not null ? dv.lot.lot : '' }}</span> 
                        </div>
                        {% endif %}
                        <div>
                            <span class="label-devis">Total HT: </span>
                            <span>{{ dv.prixht }}</span> 
                        </div>
                        <div>
                            <span class="label-devis">Total TTC: </span>
                            <span>{{ dv.prixttc }}</span> 
                        </div>

                    </div>
                </label>
            </div>
        
        {% endfor %}
    </div>
</form>
<span id="extSubmit" class="btn-small btn btn-primary" style="box-shadow: 0px 0px 10px 6px rgb(119 119 119 / 25%);position: absolute;top: 0;right: 9px;"><i class="fas fa-save"></i></span>

<script type="text/javascript">
    $tabEltVal = [];
    $eltCheck = $('.check-bl:checkbox:checked');
    if($eltCheck.length > 0){
        $eltCheck.each(function( index ) {
            if($( this ).val() != ""){
                $tabEltVal.push($( this ).val());
                $('input[name=list-elt-id]').val($tabEltVal.join('-'));
            }
        });        
    }
    else{
        $eltCheck = $('.check-fc:checkbox:checked');
        if($eltCheck.length > 0){
            $eltCheck.each(function( index ) {
                if($( this ).val() != ""){
                    $tabEltVal.push($( this ).val());
                    $('input[name=list-elt-id]').val($tabEltVal.join('-'));
                }
            });        
        }        
    }

    var lastScrollTop = 0;
    $('#modalDevis').on("scroll", function(event) {  
        $postLeftModal = $('#modalDevis .modal-body').offset().left;
        $('#extSubmitFixed').css('right', ($postLeftModal+25));    
        var st = $(this).scrollTop();
        if (st > lastScrollTop){
            if (!$('#modalDevis .modal-header').isInViewport()) {
                $('#extSubmitFixed').css('display','block');
                $('#extSubmit').css('display','none');
            }
        } else {
            if ($('#modalDevis .modal-header').isInViewport()) {
                $('#extSubmit').css('display','block');
                $('#extSubmitFixed').css('display','none');
            } 
        }
        lastScrollTop = st;
    });



</script>