{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <style type="text/css">
        
        thead th{text-align: center;text-align: center;}
        .send-facture{display: none;}
        .ibox-title{padding: 26px 90px 8px 15px}
        .ibox-tools{display: flex;align-items: center;justify-content: flex-end;margin-bottom: 7px;}
        table.dataTable tfoot th, table.dataTable tfoot td{border-top: 1px solid #e7eaec;text-align: center; font-weight: 600;font-size: 15px;    padding-bottom: 3rem;}
        .img-logo-marque{width: 25px;height: 25px; object-fit: cover;}
    </style>
{% endblock %}
{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Status</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>status</strong>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'flashes.html.twig' %}
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste de status</h5>
                    <div class="ibox-tools">
                        <a href="{{path('status_new')}}">
                            <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Staus</th>
                                    <th>Couleur</th>
                                    {% for mod in modules %}
                                        <th>{{mod.nom}}</th>
                                    {% endfor %}
                                    <th style="min-width: 50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for statu in status %}
                                <tr>
                                    {% set statusItem = [] %}
                                    {% for st in statu %}
                                        {% if loop.index == 1 %}
                                            {% set statusItem = st %}
                                            <td>{{ st.name }}</td>
                                            <td><span class="badge" style="background: {{ st.color }}; color: #fff;">{{ st.color }}</span></td>
                                        {% else %}
                                            <td style="text-align: center;">{{st}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <a href="{{path('status_edit', {'id':statusItem.id})}}"><i class="fa fa-edit"></i></a>
                                        <a onclick="return confirm('Confirmez-vous la suppression ?')"
                                       href="{{path('status_delete', {'id':statusItem.id})}}"><i class="fas fa-trash-alt"></i></a>&nbsp
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13" class="text-center">Aucun status enregistré</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}

{% block javascript_script %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block javascript %}
$(document).ready( function () {
    $('table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        "pageLength": 50,
        "order": []
    });
} );

{% endblock %}

