
<!DOCTYPE html>
<html >
	<head>
		<style type="text/css">
			div.border-color >{
				border: 0.1px solit red;
			}
			.recap table td{border:1px solid;}

		    page_footer{
				display:table;
				width:100%;
				text-align: center;	
		    }
		     
		    .container {
		  		display: table;width:100%; text-align: center;
		  		margin-top: 5px;
		  	}
		  	page_header {
		  		position: relative;
                display:table;
				width:100%;
				text-align: center;	
            }
            page_header .page-number{font-size: 12px}
     
 
		</style>
		<meta charset='utf-8'>
		<title>Title</title>
	</head>
	<body >
		<div style="padding-top: 55px;padding-left: 38px;padding-right: 38px;">
			
			<!-- <div>
	            <div style="font-weight: bold;font-size: 13px;">
	            	<div>RIB - IBAN : FR76-3002-7177-2900-0201-4360-186</div>
		            <div>BIC : CMCIFRPP</div>
		            <div>FMDA CONSTRUCTION - SDF  DF DSF</div>
	            </div>
	            <small style="font-size: 12px">FMDA CONSTRUCTION - 65 RUE DE L'ABBE LEMIRE - 62000 ARRAS - Tél : 03.59.25.08.48</small>
	            <small style="font-size: 12px">contact@fmda.fr - www.fmda.fr</small>
	            <small style="font-size: 12px">Siret : 82920503800013 / Code APE : 4331Z / TVA : FR74829205038 / Capital : 1000 € / Assurance SMA F61937L</small>
	            <div style="text-align: right;">
				    <span class="page-number">Page No </span>
				</div>
	        </div> -->
			<div class="body-container">
				
				<!-- <div class="top-page"> -->
				<div class="top-page" >
					<div style="width: 100%">
						<div style="display: inline-block;width: 200px;margin-left: 56px;">
							{#<img src="logo.png" style="width: 132px;height: 132px;">#}
						</div>
						<div style="position: absolute;width: 200px;right:80px;top: 57px;">
							<div style="position: relative;">
								<div style="font-size: 23px;font-family: helveticab;text-align: right;letter-spacing: 10px;border-bottom: 1px solid black;padding-bottom: -1px; width: max-content;position:absolute; right: 2px;top: 0;">FACTURE</div>
								<div style="margin-top: 4px;text-align: right;font-family: helveticab;font-size: 13px;position:absolute; right: 0;top: 30px;letter-spacing: 10px;">Le 29/10/2021</div>
								<div style="margin-top: 4px;text-align: right;font-family: helveticab;font-size: 13px;position:absolute; right: 0;top: 50px;">Numéro : 557</div>
								<div style="margin-top: 4px;text-align: right;font-family: helveticab;font-size: 13px;position:absolute; right: 0;top: 68px;">Date d'échéance : 29/10/2021</div>
							</div>
						</div>
					</div>
					<div class="clearfix" style="height: 132px;"></div>

					<div class="head-info" style="width: 100%;margin-top: 5px;font-family: helveticabold;display: flex;position: relative;0">
						<div class="border" style="width: 44%; border: 1px solid gray;position: absolute;top: 0;left: 0;height: 110px;overflow: hidden;" >
							<div class="adresse-head" style="background: gray;width: 101%;height:18px;color: white;margin-bottom: 7px;font-size: 12px;padding-top: 2px;padding-left: 2px; font-family: helveticaob;">Adresse du chantier</div>
							<div class="adresse-content">
								<div style="margin-bottom: 2px;font-size: 14.5px;padding-left: 2px;" >SF FILTRE</div>
								<div style="margin-bottom: 2px;font-size: 14.5px;padding-left: 2px;" ></div>
								<div style="margin-bottom: 7px;font-size: 14.5px;padding-left: 2px;" ></div>
							</div>
						</div>
						<div class="border" style="width: 44%; border: 1px solid gray;position: absolute;top: 0;left: 46%;height: 110px;overflow: hidden;">
							<div class="adresse-head" style="background: gray;width: 101%;height:18px;color: white;margin-bottom: 7px;font-size: 12px;padding-top: 2px;padding-left: 2px; font-family: helveticaob;">Adresse de facturation</div>
							<div class="adresse-content">
								<div style="margin-bottom: 2px;font-size: 14.5px;padding-left: 2px;" >HORIZON VERT</div>
								<div style="margin-bottom: 2px;font-size: 14.5px;padding-left: 2px;" >5 RUE DE LA GARE</div>
								<div style="margin-bottom: 7px;font-size: 14.5px;padding-left: 2px;" >62161 DUISANS</div>
							</div>
						</div>
					</div>

					<div class="clearfix" style="height: 110px;"></div>

					<div class="border" style="width: 90%; border: 1px solid gray;height: 85px;overflow: hidden;">
						<div class="adresse-head" style="background: gray;width: 101%;height:20px;color: white;margin-bottom: 5px;font-size: 12.5px;padding-top: 2px;padding-left: 2px; font-family: helveticaob;">Déscriptif des travaux</div>
						<div style="font-size: 13px;padding-left: 2px;font-weight: bold;">
						BAT C - SF FILTRES - COUVERTURE	
						</div>
					</div>

					<div style="background: gray;width: 90%;height: 1.5px;margin-top: 8px;"></div>


					<div class="border" style="width: 90%; border: 1px solid gray;height: 20px;overflow-y: hidden;position: relative;">
						<div class="adresse-head" style="background: gray;width: 100%;height:20px;color: white;margin-bottom: 5px;font-size: 12px;padding-top: 2px;padding-left: 2px; font-family: helveticaob; display: flex;position: relative;text-align: center;" >
							<div style="position: absolute;left: 0;top: 3px; width: 67px;">N<sup>o</sup></div>
							<div style="position: absolute;left: 67px;top: 3px; width: 304px;">Description</div>
							<div style="position: absolute;left: 373px;top: 3px; width: 55px;">Qté</div>
							<div style="position: absolute;left: 428px;top: 3px; width: 34px;">U</div>
							<div style="position: absolute;left: 462px;top: 3px; width: 80px;">P.U. HT</div>
							<div style="position: absolute;left: 542px;top: 3px; width: 45px;">% Rem.</div>
							<div style="position: absolute;left: 587px;top: 3px; width: 87px;">TOTAL HT</div>
							<div style="position: absolute;left: 674px;top: 3px; width: 39px;">TVA</div>
						</div>
						<div class="adresse-head" style="position: absolute;top:0;left: 0;width: 100%;height:100%;" >
							<div style="background: gray;position: absolute;left: 67px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 373px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 428px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 462px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 542px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 587px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 674px;top: 3px; width: 0.3px;height: 100%;"></div>
							<div style="background: gray;position: absolute;left: 674px;top: 3px; width: 0.3px;height: 100%;"></div>
						</div>
						<div>
							{% if products|length <= 6 %} 
								{% set limit1 = products|length %}
								{% for i in 0..(limit1-1) %}
									{% set prod = products[i] %}
									<div style="width: 90%;height: 45px" class="border-color">
										<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size:12px;padding-top:2px;padding-left: 2px;display: flex;position: relative;">
											<div style="position: absolute;left: 0;top: 3px; width: 67px;text-align: left;padding: 3px;">{{ prod['number'] }}</div>
											<div style="position: absolute;left: 67px;top: 3px; width: 304px;text-align: left;">
												<span style="display: block;">
													<b>{{ prod['title'] }}</b>
												</span><br>
												<span style="display: block;"><i>{{ prod['description'] }}</i></span>
											</div>
											<div style="position: absolute;left: 373px;top: 3px; width: 55px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['qte'] }}</div>
											<div style="position: absolute;left: 428px;top: 3px; width: 34px;text-align: center;font-size: 11px;padding: 3px;">{{ prod['u'] }}</div>
											<div style="position: absolute;left: 462px;top: 3px; width: 80px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['pu'] }}</div>
											<div style="position: absolute;left: 542px;top: 3px; width: 45px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['rem'] }}</div>
											<div style="position: absolute;left: 587px;top: 3px; width: 87px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['total'] }}</div>
											<div style="position: absolute;left: 674px;top: 3px; width: 39px;text-align: right;font-size: 10px;padding: 3px;">{{ prod['tva'] }}</div>
										</div>
									</div>
					  			{% endfor %}
					  			{# complete avec des cellules vides #}
					  			{% for i in 0..(6-limit1-1) %}
									<div style="width: 90%;height: 45px" class="border-color">
										<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size: 12px;padding-top: 2px;padding-left: 2px; display: flex;position: relative;" >
										</div>
									</div>
					  			{% endfor %}

						 	{% else %}
						 		{% if products|length >= 10 %}
						 			{% set limit1 = 10 %} 
								{% else %}
									{% set limit1 = products|length %} 
								{% endif %}

								{% for i in 0..(limit1-1) %}
									{% set prod = products[i] %}
									<div style="width: 90%;height: 45px" class="border-color">
										<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size:12px;padding-top:2px;padding-left: 2px;display: flex;position: relative;">
											<div style="position: absolute;left: 0;top: 3px; width: 67px;text-align: left;padding: 3px;">{{ prod['number'] }}</div>
											<div style="position: absolute;left: 67px;top: 3px; width: 304px;text-align: left;">
												<span style="display: block;">
													<b>{{ prod['title'] }}</b>
												</span><br>
												<span style="display: block;"><i>{{ prod['description'] }}</i></span>
											</div>
											<div style="position: absolute;left: 373px;top: 3px; width: 55px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['qte'] }}</div>
											<div style="position: absolute;left: 428px;top: 3px; width: 34px;text-align: center;font-size: 11px;padding: 3px;">{{ prod['u'] }}</div>
											<div style="position: absolute;left: 462px;top: 3px; width: 80px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['pu'] }}</div>
											<div style="position: absolute;left: 542px;top: 3px; width: 45px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['rem'] }}</div>
											<div style="position: absolute;left: 587px;top: 3px; width: 87px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['total'] }}</div>
											<div style="position: absolute;left: 674px;top: 3px; width: 39px;text-align: right;font-size: 10px;padding: 3px;">{{ prod['tva'] }}</div>
										</div>
									</div>
					  			{% endfor %}
					  			{# complete avec des cellules vides #}
					  			{% for i in 0..(10-limit1-1) %}
									<div style="width: 90%;height: 45px" class="border-color">
										<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size: 12px;padding-top: 2px;padding-left: 2px; display: flex;position: relative;" >
										</div>
									</div>
					  			{% endfor %}
						 	{% endif %}
						</div>
					</div>
											
						{% if (products|length - 10)%19 == 0  %}
							{% set nbPage = nbPage + 1 %}
						{% endif %}

						{% if nbPage == 1 %}
							<div class="clearfix" style=""></div>
							<div class="recap" style="position: relative;height: 142px;width: 90%;margin-top: 0px;">
								<div style="display: inline-block; width: 284px;position: absolute;top: 90px; left: 0">
									<div style="font-weight: bold;font-size: 12px">Pour l'entreprise (signatureet cachet)</div>
								</div>
								<div style="display: inline-block; width: 310px;position: absolute;top: 0; right: 0">
									<table style="width: 100%" cellspacing="0">
										<tr>
											<td style="width: 155px">TOTAL HT</td>
											<td style="text-align: right;width: 155px">46 565,65</td>
										</tr>
										<tr>
											<td style="width: 155px">TVA 20%</td>
											<td style="text-align: right;width: 155px">155</td>
										</tr>
										<tr>
											<td style="width: 155px">TVA 20%</td>
											<td style="text-align: right;width: 155px">155</td>
										</tr>
										<tr>
											<td style="font-weight: bold;width: 155px">TOTAL TTC</td>
											<td style="font-weight: bold;text-align: right;width: 155px">155</td>
										</tr>
									</table>
									<div style="text-align: center; font-weight: bold;font-size: 12px;">
										Pour le client "Devis reçu avant execution des travaux, bon pour accord" <br>Date et signature
									</div>
								</div>
							</div>
						{% endif %}

						<page_footer>
							<div style="font-weight: bold;font-size: 13px;">
				            	<div class="container">RIB - IBAN : FR76-3002-7177-2900-0201-4360-186</div>
					            <div class="container">BIC : CMCIFRPP</div>
					            <div class="container">FMDA CONSTRUCTION - 65 RUE DE L'ABBE LEMIRE - 62000 ARRAS - Tél : 03.59.25.08.48</div>
					            <div class="container">
					            	contact@fmda.fr - www.fmda.fr
					            </div>
				            </div>
				            <div style="font-size: 10px;text-align: center;margin-bottom: 50px;" class="container">
				            	Siret : 82920503800013 / Code APE : 4331Z / TVA : FR74829205038 / Capital : 1000 € / Assurance SMA F61937L
				            </div>
							         
						</page_footer >
				</div>

				{% if nbPage > 1 %}
					{% set rowItem = 10 %}
					{% for j in 2..nbPage %}
						{% if nbPage == j and (products|length - rowItem) > 14 %}
							{% set nbPage =  nbPage + 1 %} 
						{% endif %}

						<div class="top-page">
							<page_header  style="margin-top: 30px;">
								<div class="container">DEVIS No 652</div>
					            <div class="page-number container" style="text-align: right; margin-top: -17px;padding-right: 38px;">Page No {{j}}</div>
					        </page_header>

							<div class="border" style="left:40px;width: 90%; border: 1px solid gray; top: 77px;overflow-y: hidden; position: relative">
								<div class="adresse-head" style="background: gray;width: 100%;height:20px; color: white;margin-bottom: 5px;font-size: 12px;padding-top: 2px;padding-left: 2px;font-family: helveticaob; display: flex;position: relative;text-align: center;" >
									<div style="position: absolute;left: 0;top: 3px; width: 67px;">N<sup>o</sup></div>
									<div style="position: absolute;left: 67px;top: 3px; width: 304px;">Description</div>
									<div style="position: absolute;left: 373px;top: 3px; width: 55px;">Qté</div>
									<div style="position: absolute;left: 428px;top: 3px; width: 34px;">U</div>
									<div style="position: absolute;left: 462px;top: 3px; width: 80px;">P.U. HT</div>
									<div style="position: absolute;left: 542px;top: 3px; width: 45px;">% Rem.</div>
									<div style="position: absolute;left: 587px;top: 3px; width: 87px;">TOTAL HT</div>
									<div style="position: absolute;left: 674px;top: 3px; width: 39px;">TVA</div>
								</div>
								<div class="adresse-head" style="position: absolute;top:0;left: 0;width: 100%;height:100%;" >
									<div style="background: gray;position: absolute;left: 67px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 373px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 428px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 462px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 542px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 587px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 674px;top: 3px; width: 0.3px;height: 100%;"></div>
									<div style="background: gray;position: absolute;left: 674px;top: 3px; width: 0.3px;height: 100%;"></div>
								</div>
								<div>
									{% if j < nbPage %} 
										{% set limit2 = rowItem + 19 %}
										{% set start = rowItem %}
										{% for i in start..(limit2-1) %}
											<div style="width: 90%;height: 45px">
												<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size: 12px;padding-top: 2px;padding-left: 2px; display: flex;position: relative;" >{{rowItem}}
												</div>
											</div>

											{% set rowItem = rowItem + 1 %}
										{% endfor %}

									{% else %}
										{% set nbProductRest = products|length - rowItem %}
										{% set start = rowItem %}
										{% if nbProductRest <= 14 %} 
											{% for i in start..(products|length - 1) %} 
												{% set prod = products[i] %}
												<div style="width: 90%;height: 45px" class="border-color">
													<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size:12px;padding-top:2px;padding-left: 2px;display: flex;position: relative;">
														<div style="position: absolute;left: 0;top: 3px; width: 67px;text-align: left;padding: 3px;">{{ prod['number'] }}</div>
													<div style="position: absolute;left: 67px;top: 3px; width: 304px;text-align: left;">
														<span style="display: block;">
															<b>{{ prod['title'] }}</b>
														</span><br>
														<span style="display: block;"><i>{{ prod['description'] }}</i></span>
													</div>
													<div style="position: absolute;left: 373px;top: 3px; width: 55px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['qte'] }}</div>
													<div style="position: absolute;left: 428px;top: 3px; width: 34px;text-align: center;font-size: 11px;padding: 3px;">{{ prod['u'] }}</div>
													<div style="position: absolute;left: 462px;top: 3px; width: 80px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['pu'] }}</div>
													<div style="position: absolute;left: 542px;top: 3px; width: 45px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['rem'] }}</div>
													<div style="position: absolute;left: 587px;top: 3px; width: 87px;text-align: right;font-size: 11px;padding: 3px;">{{ prod['total'] }}</div>
													<div style="position: absolute;left: 674px;top: 3px; width: 39px;text-align: right;font-size: 10px;padding: 3px;">{{ prod['tva'] }}</div>
													</div>
												</div>
								  				{% set rowItem = rowItem+1 %}
								  			{% endfor %} 
								  			{% set start = rowItem %}

								  			{# complete avec des cellules vides #}
								  			{% for i in 0..(14 - nbProductRest-1) %}
												<div style="width: 90%;height: 45px" class="border-color">
													<div class="adresse-head" style="width: 101%;height:20px;color: black;margin-bottom: 5px;font-size: 12px;padding-top: 2px;padding-left: 2px; display: flex;position: relative;" >
														{{rowItem}}
													</div>
												</div>
								  				
								  				{% set rowItem = rowItem + 1 %}
								  			{% endfor %} 
									 	{% endif %}
									{% endif %}
								</div>
							</div>

							{% if j == nbPage %}
								<div class="clearfix" style=""></div>
								<div class="recap" style="position: relative;height: 142px;width: 90%;margin-left: 5%;margin-top: 0;">
									<div style="display: inline-block; width: 284px;position: absolute;top: 90px; left: 0">
										<div style="font-weight: bold;font-size: 12px">Pour l'entreprise (signatureet cachet)</div>
									</div>
									<div style="display: inline-block; width: 310px;position: absolute;top: 0; right: 0">
										<table style="width: 100%" cellspacing="0">
											<tr>
												<td style="width: 155px">TOTAL HT</td>
												<td style="text-align: right;width: 155px">46 565,65</td>
											</tr>
											<tr>
												<td style="width: 155px">TVA 20%</td>
												<td style="text-align: right;width: 155px">155</td>
											</tr>
											<tr>
												<td style="width: 155px">TVA 20%</td>
												<td style="text-align: right;width: 155px">155</td>
											</tr>
											<tr>
												<td style="font-weight: bold;width: 155px">TOTAL TTC</td>
												<td style="font-weight: bold;text-align: right;width: 155px">155</td>
											</tr>
										</table>
										<div style="text-align: center; font-weight: bold;font-size: 12px;">
											Pour le client "Devis reçu avant execution des travaux, bon pour accord" <br>Date et signature
										</div>
									</div>
								</div>
							{% endif %}

								<page_footer>
									<div style="font-weight: bold;font-size: 13px;">
						            	<div class="container">RIB - IBAN : FR76-3002-7177-2900-0201-4360-186</div>
							            <div class="container">BIC : CMCIFRPP</div>
							            <div class="container">FMDA CONSTRUCTION - 65 RUE DE L'ABBE LEMIRE - 62000 ARRAS - Tél : 03.59.25.08.48</div>
							            <div class="container">
							            	contact@fmda.fr - www.fmda.fr
							            </div>
						            </div>
						            <div style="font-size: 10px;text-align: center;margin-bottom: 50px;" class="container">
						            	Siret : 82920503800013 / Code APE : 4331Z / TVA : FR74829205038 / Capital : 1000 € / Assurance SMA F61937L
						            </div>
									         
								</page_footer >
							
						</div>
					{% endfor %} 
				{% endif %}

			</div>	
	
		</div>

	</body>


</html>
