{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Facture client{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
    <style type="text/css">
        
        thead th{text-align: center;text-align: center;}
        .send-facture{display: none;}
        .ibox-title{padding: 26px 90px 8px 15px}
        .ibox-tools{display: flex;align-items: center;justify-content: flex-end;margin-bottom: 7px;}
        table.dataTable tfoot th, table.dataTable tfoot td{border-top: 1px solid #e7eaec;text-align: center; font-weight: 600;font-size: 15px;    padding-bottom: 3rem;}
        @media (min-width: 768px){
            .modal-sm {
                width: 425px;
            }
        }
        .btnAttachDevis, .formZip{display: none;}
        .total-bl{
            margin: 8px 0 32px 0;
            color: #000;
            font-weight: 600;
            text-align: center;
        }
        #extSubmitFixed{display: none;}
        .loader-container{display: none;align-items: center;justify-content: center;}

        .doc-item-container{
            position: relative;
            height: 40px;
            margin-left: 8px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        .doc-item-container:hover .trash-icon{
            display: inline-flex
        }
        .doc-item-container .trash-icon{
            display: none;
            position: absolute;
            top: -33px;
            z-index: 2;
            left: -9px;
            right: 0;
            margin: auto;
            background: #fff;
            box-shadow: 0px 11px 9px 3px rgb(0 0 0 / 20%);
            border-radius: 50%;
            color: #d20404;
            width: 35px;
            height: 35px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        
        .devis-row{display: flex;align-items: flex-start;}
    </style>
{% endblock %}
{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Liste des factures</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Factures</strong>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'flashes.html.twig' %}
            <div class="ibox">
                <div class="ibox-content">
                    {{ include('facture_client/filter.html.twig') }}
                </div>
            </div>
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        <span class="btn-config-colonne">
                            <i class="fa fa-cog"></i>
                        </span>
                        Liste de facture</h5> 
                    <b>({{ventes|length}} Documents)</b>
                    <div class="ibox-tools">
                        <a href="{{ path('email_document_preview_list', {'dossier':'facture_client'}) }}" class="btn btn-primary" style="margin-right: 10px;">
                            ({{countDocAttentes ? countDocAttentes.nb : 0}}) En attente
                        </a>

                        <a href="{{ path('facture_client_add') }}" class="btn btn-primary" >
                            importer
                        </a>
                        <a href="{{path('facture_client_add_manuel')}}" class="btn btn-primary" style="margin-left: 12px;"><i class="fa fa-plus"></i> Ajouter</a>
                        <button type="submit" class="btn btn-primary send-facture" style="margin-left: 12px;">Envoyer la Facture</button>
                        <button type="button" class="btn btn-primary btnAttachDevis" style="margin-left: 6px;">
                          Lier un devis
                        </button>

                        <form method="POST" action="{{path('facture_client_zip')}}" class="formZip" style="margin-left: 5px">
                            <input type="hidden" name="list-facture-id">
                            <button type="submit" class="btn btn-warning">Zip</button>
                        </form>
                        
                    </div>
                    <div class="column-container">
                        <div class="column-content">
                            <form method="POST" action="{{path('update_toggle_column')}}">
                                <input type="hidden" name="page" value="FACTURE_CLIENT">
                                <input type="hidden" name="redirect" value="facture_client_list">
                                <div class="column-list">
                                    {% for column in columns %}
                                    <div class="column-item">
                                        <label class="column-label">
                                            <input class="column-check" type="checkbox" {% if columnsVisibileId|length and column.id in columnsVisibileId|keys %}checked{% endif %} name="configs[{{column.id}}]">
                                            <span class="column-libelle">{{ tabColumns[column.cle] }}</span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">

                    <h1 class="total-bl"> {{full_month|capitalize}}</span> </h1>
                    {% if 'MONTANT_HT' in columnsVisibileId  %}
                        <h2 class="total-bl"> Montant HT: <span>{{ montant['sum_ht'] ? montant['sum_ht']|number_format(2, ',', '') : "0" }}€</span> </h2>
                    {% endif %}

                    {% if 'MONTANT_TTC' in columnsVisibileId  %}
                        <h2 class="total-bl"> Montant TTC: <span>{{ montant['prixttc'] ? montant['prixttc']|number_format(2, ',', '') : "0" }}€</span> </h2>
                    {% endif %}

                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="chk-parent" value="">
                            </th>
                            {% if 'DOCUMENT_PDF' in columnsVisibileId  %}
                                <th>Doc</th>
                            {% endif %}

                            {% if 'DOCUMENT_ID' in columnsVisibileId  %}
                            <th>DocumentId</th>
                            {% endif %}

                            {% if 'DATE_CREATION' in columnsVisibileId  %}
                            <th>Date création</th>
                            {% endif %}

                            {% if 'CLIENT' in columnsVisibileId  %}
                            <th>Client</th>
                            {% endif %}

                            {% if 'CHANTIER' in columnsVisibileId  %}
                            <th>Chantier</th>
                            {% endif %}

                            {% if 'LOT' in columnsVisibileId  %}
                            <th>Lot</th>
                            {% endif %}

                            {% if 'MONTANT_TTC' in columnsVisibileId  %}
                            <th>TTC</th>
                            {% endif %}

                            {% if 'TVA' in columnsVisibileId  %}
                            <th>TVA</th>
                            {% endif %}

                            {% if 'MONTANT_HT' in columnsVisibileId  %}
                            <th>HT</th>
                            {% endif %}

                            {% if 'DEVIS' in columnsVisibileId  %}
                            <th>Devis</th>
                            {% endif %}

                            {% if 'COMPTA' in columnsVisibileId  %}
                            <th>Compta</th>
                            {% endif %}

                            {% if 'QUITTANCE' in columnsVisibileId  %}
                            <th>Envoie Quittance</th>
                            {% endif %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for facture_client in pager.currentPageResults %}
                            <tr class='text-center' style="{% if facture_client.id in tabDoublon %}color:red{% endif %}">
                                <td>
                                    <input type="checkbox" class="check-bl" name="blCheck" value="{{facture_client.id}}" data-chantier="{{facture_client.chantier is not null ? facture_client.chantier.chantierId : ''}}" data-client-email="{{ facture_client.client ? facture_client.client.email : ''}}" >
                                </td>

                                {% if 'DOCUMENT_PDF' in columnsVisibileId  %}
                                <td>
                                    {% if facture_client.getDocumentFile %} 
                                    <span class="showDocument" data-file="/uploads/clients/factures/{{facture_client.getDocumentFile}}" style="cursor: pointer;"><img src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_3_pdf_x16.png"></span>
                                    {% endif %}
                                </td>
                                {% endif %}

                                {% if 'DOCUMENT_ID' in columnsVisibileId  %}
                                <td>
                                    {{facture_client.getDocumentId}}
                                </td>
                                {% endif %}

                                {% if 'DATE_CREATION' in columnsVisibileId  %}
                                <td>
                                    {{ facture_client.facturedAt|date('d/m/Y') }}
                                </td>
                                {% endif %}

                                {% if 'CLIENT' in columnsVisibileId  %}
                                <td>{{ facture_client.client is not null ? facture_client.client.nom : '' }}</td>
                                {% endif %}

                                {% if 'CHANTIER' in columnsVisibileId  %}
                                <td>{{ facture_client.chantier is not null ? facture_client.chantier.nameentreprise : '' }}</td>
                                {% endif %}

                                {% if 'LOT' in columnsVisibileId  %}
                                <td>{{facture_client.lot is not null ? facture_client.lot.lot : ''}}</td>
                                {% endif %}

                                {% if 'MONTANT_TTC' in columnsVisibileId  %}
                                <td>{{ facture_client.prixttc|number_format(2, ',', '') }}{{ facture_client.devise.symbol }}</td>
                                {% endif %}

                                {% if 'TVA' in columnsVisibileId  %}
                                <td>
                                    {% set ht = facture_client.getPrixht is null ? 0 : facture_client.getPrixht %} 
                                    {% set dividende = (ht is null or ht == 0) ? 1 : ht %} 

                                    {% set partE = ((facture_client.prixttc - ht) / dividende * 100)|round(0, 'floor') %}
                                    {% set partD = ((facture_client.prixttc - ht) / dividende * 100) - partE %}

                                    {% if partE == 0 %}
                                        <span style="color: orange">0</span>
                                    {% else %}
                                        {% if partE == 5  and (partD <= 0.8 and partD >= 0.2) %}
                                           <span style="color: green">5.5%</span> 
                                        {% elseif partE == 20  and (partD <= 0.3) %}
                                            <span style="color: green">20%</span>
                                        {% elseif partE == 19  and (partD >= 0.7) %}
                                            <span style="color: green">20%</span>
                                        {% elseif partE == 10  and (partD <= 0.3) %}
                                            <span style="color: green">10%</span>
                                        {% elseif partE == 9  and (partD >= 0.3) %}
                                            <span style="color: green">10%</span>
                                        {% else %}
                                            <span style="color: red">{{((facture_client.prixttc - ht) / dividende * 100)|number_format(2, ',', ' ')}}%</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% endif %}

                                {% if 'MONTANT_HT' in columnsVisibileId  %}
                                <td>{{ facture_client.getPrixht|number_format(2, ',', '') }}{{ facture_client.devise.symbol }}</td>
                                {% endif %}

                                {% if 'DEVIS' in columnsVisibileId  %}
                                <td>
                                    {% if facture_client.devis is not null %}
                                        <span style="display: none;">V</span>
                                        <span class="doc-item-container">
                                            <span class="showDocument" data-file="/uploads/devis/{{facture_client.devis.getDocumentFile}}" style="cursor: pointer;"><img src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_3_pdf_x16.png"></span>
                                            <a class="trash-icon" onclick="return confirm('Voulez-vous dissocier ce devis ?')" href="{{ path('facture_client_dettach_devis', {'factureId': facture_client.id} ) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                    {% else %}
                                        <span style="display: none;">X</span>
                                        <span class="openDevis" data-chantier="{{facture_client.chantier is not null  ? facture_client.chantier.getChantierId : '' }}" data-id="{{facture_client.id}}" style="cursor: pointer;">
                                            <i class="fas fa-times" style="font-size: 18px;color: #ef0a0a;"></i>
                                        </span>
                                    {% endif %}
                                </td>
                                {% endif %}

                                {% if 'COMPTA' in columnsVisibileId  %}
                                <td>
                                    {% if facture_client.getExportCompta is null %}
                                        <span  style="font-size: 18px;color: #ef0a0a;"><i class="fas fa-times"></i><span style="visibility: hidden;">X</span></span>
                                    {% else %}
                                        <span style="font-size: 18px;color: green;"><i class="fa fa-check"></i>
                                        <span style="visibility: hidden;">V</span></span>
                                    {% endif %}
                                </td>
                                {% endif %}

                                {% if 'QUITTANCE' in columnsVisibileId  %}
                                <td>
                                    {% if facture_client.getExportQuittance is null %}
                                        <span  style="font-size: 18px;color: #ef0a0a;"><i class="fas fa-times"></i><span style="visibility: hidden;">X</span></span>
                                    {% else %}
                                        <span style="font-size: 18px;color: green;"><i class="fa fa-check"></i>
                                        <span style="visibility: hidden;">V</span></span>
                                        <small style="white-space: nowrap;">{{facture_client.getDateExportQuittance|date('d/m/Y H:i')}}</small>
                                    {% endif %}
                                </td>
                                {% endif %}

                                <td>
                                    <a href="{{ path('facture_client_edit', {'factureId': facture_client.id} ) }}"><i class="far fa-edit"></i></a>
                                    <a onclick="return confirm('Etes-vous sur de vouloir supprimer cette facture_client ?')"
                                       href="{{ path('facture_client_delete', {'factureId': facture_client.id} ) }}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="34">Aucune facture_client enregistrée</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    </div>
                    {% if pager.haveToPaginate %}
                        {{ pagerfanta(pager, 'my_template') }}
                    {% endif %}

                    {% if 'MONTANT_TTC' in columnsVisibileId  %}
                    <div style="width: 100%; height: 200;margin-bottom: 45px;">
                        <canvas id="myChart"></canvas>
                    </div>
                    {% endif %}
                    
                    <div id="modalQ" class="modal fade bs-example-modal-sm modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="border: none;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body text-center" style="padding: 0px 30px 51px 30px">
                                    <form method="POST" action="{{path('facture_client_send_bl')}}" name="sendFactureMail">

                                        <input type="hidden" name="list-facture-id">
                                        <input type="hidden" name="submit" value="">
                                        <div class="row">
                                            <div class="col-lg-12 form-group">
                                                <select class="form-control type_email" id="type_email" name="type_email">
                                                    <option value="1">Email comptabilité</option>
                                                    <option value="2">Email Quittance</option>
                                                </select>
                                            </div>
                                            <input type="hidden" name="submit" value="">
                                        </div>
                                        <div class="row email_comptable">
                                            <div class="col-lg-12 form-group">
                                                <input type="email" name="email_comptable" placeholder="Email comptable" value="{{emailComptableConfig}}" class="form-control">
                                            </div>
                                            <input type="hidden" name="submit" value="">
                                        </div>
                                        <div class="row email_quittance" style="display: none;">
                                            <div class="col-lg-12 form-group">
                                                <input type="email" name="email_quittance" placeholder="Email quittance" value="" class="form-control">
                                            </div>
                                            <input type="hidden" name="submit" value="">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 form-group" style="text-align: left;">
                                                <label style="color: #a6a4ad;">Contenu</label>
                                                <textarea name="content" class="form-control" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 form-group text-center" style="display: flex; justify-content: center;">
                                            <button type="submit" name="submit" value="envoyer" class="btn btn-primary envoyer" style="margin-right: 8px">Envoyer</button>
                                            <button type="submit" name="submit" value="comptabilite" class="btn btn-warning comptabilite submit-comptabilite">Transfert Compta</button>
                                            <button type="submit" name="submit" value="quittance" class="btn btn-info quittance submit-quittance" style="margin-left: 8px">Envoyer Quittance</button>
                                        </div>
                                        <div class="row export loader-container">
                                            <img src="{{asset('images/loading.gif')}}" style="width: 54px;">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modalQ2" class="modal fade bs-example-modal-sm modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="border: none;">
                                <h4 class="modal-title text-center" id="gridSystemModalLabel" style="padding-top: 27px;">document deja envoyé,<br> etes-vous sûr de vouloir le renvoyer?</h4>
                            </div>
                            <div class="modal-body text-center">
                                <form method="POST" name="sendFactureMailConf" action="{{path('facture_client_send_bl')}}">
                                    <input type="hidden" name="list-facture-id">
                                    <div class="row">
                                        <div class="col-lg-12 form-group">
                                            <input type="email" name="email_comptable" placeholder="Email comptable" class="form-control" required>
                                        </div>
                                        <input type="hidden" name="submit" value="">
                                    </div>
                                    <div class="row form-group text-center" style="display: flex;justify-content: center;">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm" style="margin-right: 8px">NON</button>
                                        <button type="submit" name="submit" value="comptabilite" class="btn btn-warning submit-comptabilite">OUI</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="modalDevis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title text-center" id="myModalLabel">Attribuer un devis</h2>
                              </div>
                              <div class="modal-body" style="padding-top: 0">
                                <div class="loader-container">
                                    <img src="{{asset('images/loading.gif')}}" style="width: 54px;">
                                </div>
                                <div id="listDevisContainer"></div>
                              </div>
                            </div>
                        </div>
                        <span id="extSubmitFixed" class="btn-small btn btn-primary" style="box-shadow: 0px 0px 10px 6px rgb(119 119 119 / 25%);position: fixed;z-index: 9999;top: 18px;"><i class="fas fa-save"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript_script %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

        <script type="text/javascript"src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript"src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript"src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/date-eu.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/numeric-comma.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.2/sorting/num-html.js"></script>

    <script type="text/javascript">
        var valChart = {{ valChart|json_encode()|raw }};
        var ctx = document.getElementById('myChart').getContext('2d');
        ctx.height = 200;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  ["jan", "Fév", 'Mars', 'Avr', 'Mais', 'Juin', 'Juil', 'Aout', 'sep', 'Oct', 'Nov', 'Déc'],
                datasets: [{
                    label: 'Montant TTC',
                    data: valChart,
                    backgroundColor: [
                        'rgb(19 19 226)',
                    ],
                    borderColor: [
                        'rgb(19 19 226)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        display: false //this will remove all the x-axis grid lines
                    }],

                },
                legend: { display: false },
                    title: {
                    display: true,
                    fontColor: 'black',
                    fontSize: '25',
                    text: '{{full_month|capitalize}}-TTC: {{ montant['prixttc'] ? montant['prixttc']|number_format(2, ',', '') : "0" }}€'
                }
            }
        });

        $('table').on('change', '.check-bl', function(){    
            $eltCheck = $('.check-bl:checkbox:checked');
            if( $eltCheck.length > 0){
                $('.btnAttachDevis').css('display', 'block');
                $('.formZip').css('display', 'block');
                $('.send-facture').css('display', 'block');
            }
            else{
                $('.btnAttachDevis').css('display', 'none');
                $('.formZip').css('display', 'none');
                $('.send-facture').css('display', 'none');
            }

            var userCheck = [];   
            $eltCheck.each(function( index ) {
                if($( this ).val() != "")
                    userCheck.push($( this ).val());
            });
            $('input[name=list-facture-id]').val(userCheck.join('-'));
            $('input[name=email_quittance]').val($(this).attr('data-client-email'));
        });
        $('.chk-parent').on('change', function(){  
            $('.check-bl').prop('checked', this.checked);      
            if($(this).is(":checked")){
                $('.btnAttachDevis').css('display', 'block');
                $('.formZip').css('display', 'block');
                $('.send-facture').css('display', 'block');
            }
            else{
                $('.btnAttachDevis').css('display', 'none');
                $('.formZip').css('display', 'none');
                $('.send-facture').css('display', 'none');
            }

            var userCheck = [];  
            $eltCheck = $('.check-bl:checkbox:checked'); 
            $eltCheck.each(function( index ) {
                if($( this ).val() != "")
                    userCheck.push($( this ).val());
            });

            $('input[name=list-facture-id]').val(userCheck.join('-'));
        });
        $('body').on('click', '.send-facture', function(){
            $('#modalQ').modal('show');
        })

        $('body').on('click', 'form[name=sendFactureMail] .envoyer', function(){
            $('form[name=sendFactureMailConf] button[name=submit]').attr('value','envoyer');
            $('form input[name=submit]').val('envoyer');
        })
        $('body').on('click', 'form[name=sendFactureMail] .comptabilite', function(){
            $('form[name=sendFactureMailConf] button[name=submit]').attr('value','comptabilite');
            $('form input[name=submit]').val('comptabilite');
        })

        $('body').on('click', 'form[name=sendFactureMail] .quittance', function(){
            $('form[name=sendFactureMailConf] button[name=submit]').attr('value','quittance');
            $('form input[name=submit]').val('quittance');
        })

        $('body').on('change', '.list-devis input[name=devis]', function() {
            $('.list-devis label').removeClass('active');
           $('.list-devis input[name=devis]:checked').next().addClass('active');
        });

        var form = document.forms.namedItem("sendFactureMail");
        form.addEventListener('submit', function(ev) {
            ev.preventDefault();
            $btnSubmit = $('form[name=sendFactureMail] button');
            $btnSubmit.css('pointer-events', 'none');
            $('.loader-container').css('display','flex');
            $.ajax({
                url:form.getAttribute('action'),
                type:"POST",
                data: new FormData(form),
                dataType: 'json',
                contentType: false,
                cache: false,
                processData:false,
                success:function(response) {
                    console.log(response);
                    if(response.status == 200){
                        /*toastr.success('Facture envoyé avec success');*/
                        location.reload();
                    }
                    else if(response.status == 300){
                        $('#modalQ').hide();
                        $('#modalQ2').modal({backdrop: "static"});
                        toastr.warning(response.message);
                        $('#modalQ2 form input[name=email_comptable]').val($('form[name=sendFactureMail] input[name=email_comptable]').val());
                    }
                    else if(response.status == 500){
                        toastr.warning(response.message);
                    }
                    else if(response.status == 400){
                        toastr.error(response.message);
                    }
                    $('.loader-container').css('display','none');
                    $btnSubmit.css('pointer-events', 'auto');
                },
                error:function(){
                    console.log(response);
                  $btnSubmit.css('pointer-events', 'auto');
                  toastr.error("Ooops... Quelque chose s'est mal passée");
                  $('.loader-container').css('display','none');
                }
            });
        });

        $(document).ready( function () {
            $('body').on('click', ' .showDocument', function(){
                $documentFile = $(this).attr('data-file');
                $('#modalDocumentShow').modal('show');
                if($documentFile != ""){
                    $('.no-document').css('display','none');
                    $('.documentFile-container').css('display','block');
                    if($documentFile.substr($documentFile.length - 3).toLowerCase() == "pdf"){
                        $('.documentFile-container').html('<object class="documentPdf" data="" type="application/pdf" width="100%" height="980px" style="display: none;"></object>');
                        $('.documentPdf').css('display', 'block');
                        $('.documentPdf').attr('data', $documentFile);
                    }
                    else{
                        $('.documentimage').css('display', 'block');
                        $('.documentimage').attr('src', $documentFile);
                    }
                }
                else{
                    $('.documentFile-container').css('display','none');
                    $('.no-document').css('display','block');
                }
            })
        } );

        $('.openDevis').click(function(e){
            $('#modalDevis').modal('show');
            $('.loader-container').css('display','flex');
            $eltSelect = $(this).data('id');
            $chantierList = $(this).attr('data-chantier');
            openDevisXhr($chantierList, $eltSelect);
        })

        $('.btnAttachDevis').click(function(){
            $('#modalDevis').modal('show');
            $('.loader-container').css('display','flex');
            $eltCheck = $('.check-bl:checkbox:checked');
            $chantierList = [];   
            $eltSelect = [];
            $eltCheck.each(function( index ) {
                if($( this ).val() != ""){
                    $chantierList.push($( this ).attr('data-chantier'));
                    $eltSelect.push($( this ).val());
                }
            });
            $chantierList = $chantierList.join('-');
            $eltSelect = $eltSelect.join('-');
            openDevisXhr($chantierList, $eltSelect);
        })

        function openDevisXhr($chantierList, $eltSelect){
            $.ajax({
                url: "{{path('devis_client_get_by_chantier')}}",
                type: "POST",
                dataType: "json",
                async: true,
                data: {
                    list_chantier_id: $chantierList,
                    page: 'facture_client',
                    type:'devis_client',
                    facture_select: $eltSelect
                },
                success: function(response) {
                    if(response.status == 200){                        
                        $('#listDevisContainer').html(response.content);
                    }
                    else if(response.status == 500){
                        toastr.error(response.message);
                    }
                    $('.loader-container').css('display','none');
                },
                error: function(xhr, textStatus, errorThrown) {
                  console.log(errorThrown);
                  $('.loader-container').css('display','none');
                }
            });
        }

        var emailSelect = document.getElementById('type_email');
        emailSelect.onchange = (event) => { 
          var email_v = event.target.value;
            if(email_v == 1){
                $(".email_comptable").css('display', 'block');
                $(".email_quittance").css('display', 'none');
            }
            else if(email_v == 2){
                $(".email_quittance").css('display', 'block');
                $(".email_comptable").css('display', 'none');
            }

        };

        $(document).on('click', '#extSubmit', function(){
            $('#attachDevisClient').submit();
        })
        $(document).on('click', '#extSubmitFixed', function(){
            $('#attachDevisClient').submit();
        })

        $(document).on('change', 'input[name=quittance]', function(e){
            $that = $(this);
            let file2 = document.getElementById("quittance-"+$that.attr('data-id'));
            if (file2.files){
                $("#formQuittance-"+$that.attr('data-id')).submit();
            }
            
        });
        $(document).on('hidden.bs.modal', function (event) {
          if ($('.modal:visible').length) {
            $('body').addClass('modal-open');
          }
        });
    </script>
{% endblock %}

{% block javascript %}
$(document).ready( function () {

    $('table').DataTable({
        columnDefs: [
           { type: 'date-eu', targets: 3 },
           { "type": "numeric-comma", targets: 7 },
           { "type": "numeric-comma", targets: 9 },
           { "type": "num-html", targets: 8 }
        ],
        "paging":   false,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

} );



{% endblock %}