{% extends 'base.html.twig' %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Assurances</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Assurances</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    {{ include('chantier/filter.html.twig') }}
                </div>
            </div>
        </div> -->
        <div class="col-lg-12">
            {% include 'flashes.html.twig' %}
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des chantiers</h5>
                    
                    <div class="ibox-tools">
                        <!-- <div class="verif-chant">
                            <label> Statut : </label>
                            <a href="">
                                <label class="switch">
                                  <input type="checkbox" id="verif">
                                  <span class="slider round"></span>
                                </label>
                            </a>
                        </div> -->
                        <a href="{{ path('chantier_add') }}" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Ajouter
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <!-- <div class="filter-container">
                      <input type="text" name="filter" class="textbox" placeholder="Search">
                      <span class="button"><i class="fa fa-search"></i></span>
                    </div> -->
                    <div class="table-responsive">
                        {{ include('assurance/table_content.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript_script %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        function openChantier(idChantier){
          $('.open-chantier-'+idChantier).html('<i class="fas fa-spinner fa-pulse" style="font-size: 18px;color: #000;"></i>');
          $('.open-chantier-'+idChantier).css('pointer-events', 'none');
        } 

        {% if verification == 1 %}
            $("input#verif").attr( "checked",true );
        {% endif %}
        $("input#verif").change(function(){
            {% if verification == 0 %}
               location.href="{{ path('chantier_list') }}";
            {% else %}
               location.href="{{ path('chantier_list') }}?status=0";
            {% endif %}
        })

        var table = $('table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "searching": false,
            "columnDefs": [
                {"targets": [], "orderable": true},
            ],
            "pageLength": 50,
            "order": []
        });
        function loadData(val){
            console.log(val);
            $.ajax({
                url: "{{path('chantier_datas_filter')}}",
                type: "GET",
                dataType: "json",
                async: true,
                data: {
                    val: $('input[name=filter]').val(),
                    page: 'assurance',
                },
                success: function(response) {
                    if(response.status == 200){                        
                        $('.table-responsive').html(response.content);
                        table.destroy();
                        table = $('table').DataTable({
                                "language": {
                                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                                },
                                "columnDefs": [
                                    {"targets": [], "orderable": true},
                                ],
                                "pageLength": 50,
                                "order": []
                            });
                    }
                    else if(response.status == 500){
                        toastr.error(response.message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                  console.log(errorThrown);
                }
            });
        }

        var isTyping;
         $('body').on('keydown', 'input[name=filter]', function(e){
            window.clearTimeout( isTyping );
            $that = $(e.currentTarget);
            isTyping = setTimeout(function(){
                loadData($that.val());
            }, 2000);
        });


    </script>
{% endblock %}

{% block javascript %}
  
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="{{ asset('css/style-checked.css') }}" />
    <style type="text/css">
        .ms-n5 {
            margin-left: -40px;
        }
        .filter-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 26px;
          outline: 0;
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          -webkit-border-radius: 4px;
          border-radius: 4px;
        }

        .filter-container > .textbox {
          flex: 1;
          outline: 0;
          height: 42px;
          width: 244px;
          line-height: 42px;
          padding: 0 16px;
          background-color: rgba(255, 255, 255, 0.8);
          color: #212121;
          border: 0;
          -webkit-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
        }

        .filter-container > .textbox:focus {
          outline: 0;
          background-color: #FFF;
        }

        .filter-container > .button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;
          outline: 0;
          background: none;
          background-color: rgba(38, 50, 56, 0.8);
          height: 42px;
          width: 42px;
          text-align: center;
          line-height: 42px;
          border: 0;
          color: #FFF;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 16px;
          text-rendering: auto;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          -webkit-transition: background-color .4s ease;
          transition: background-color .4s ease;
          -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
        }

    </style>
{% endblock %}