
<style type="text/css">
	.fieldSuperAdmin{
		font-size: 39px;
	    width: 20px;
	    height: 16px;
	    margin: 0;
	}
	.bootstrap-tagsinput{width: 100%}
</style>
{{ form_start(form_admin, {'attr': {'class': 'formAdmin', 'autocomplete': 'off'}}) }}
	<div class="row">
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.firstname, 'Prénom') }}
	        {{ form_row(form_admin.firstname) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.lastname, 'Nom') }}
	        {{ form_row(form_admin.lastname) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.email, 'E-mail') }}
	        {{ form_row(form_admin.email) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.phone, 'Téléphone') }}
	        {{ form_row(form_admin.phone) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.address, 'Adresse') }}
	        {{ form_row(form_admin.address) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.cp, 'Code Postal') }}
	        {{ form_row(form_admin.cp) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.city, 'Ville') }}
	        {{ form_row(form_admin.city) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.dep, 'Departement') }}
	        {{ form_row(form_admin.dep) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.region, 'Region') }}
	        {{ form_row(form_admin.region) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.website, 'Site web') }}
	        {{ form_row(form_admin.website) }}
	    </div>
	    <div class="col-lg-12 form-group" style="display: flex;align-items: center;">
	        {{ form_row(form_admin.allIp) }}
	        <span style="margin-left:7px;">
	        	{{ form_label(form_admin.allIp, 'Toutes les IP') }}
	        </span>
	    </div>
	    <div class="col-lg-12 form-group">
	        {{ form_label(form_admin.ipList, 'Ip Authorisées') }}
	        {{ form_row(form_admin.ipList) }}
	    </div>
	    <div class="col-lg-12 form-group">
	        <label>Mot de passe Connexion</label>
	        <input type="password" name="password" class="form-control" value="****">
	    </div>

	    <div class="col-lg-12 form-group">
	    	<input id="super_admin" type="checkbox" name="super_admin" class="fieldSuperAdmin" value="1" {% if admin is defined and admin.getSuperAdmin %}checked{% endif %}>
	        <label for="super_admin" style="margin: 0; margin-left: 5px;">Definir super admin</label>
	    </div>

	    <input type="hidden" name="entreprise_id" value="{{ (entreprise is defined and entreprise is not null) ? entreprise.id : ''}}">
	    <div class="col-lg-12 form-group text-center">
	        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
	    </div>
    </div>
{{ form_end(form_admin) }}

<script type="text/javascript">
	$(document).ready( function () {
	    $(document).on('change', 'input[name=super_admin]', function(){    
	    	if ($(this).is(':checked')) {
	    		toastr.info("Cet admin pourra administrer toute la plateforme");
	    	}
	    	else{
	    		toastr.info("Admin retiré Super Administrateur");	
	    	}
	        
	    });
	})
</script>