{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ menu.libelle }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ menu.link }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ menu.icone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('menu_index') }}">back to list</a>

    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
