{% extends 'base.html.twig' %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Liste des contrats</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Contrats</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% include 'flashes.html.twig' %}
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des contrats</h5>
                    <div class="ibox-tools">
                        <a href="{{ path('contrat_add') }}">
                            <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Nom</th>
                                <th></th>
                            </tr>
                            {% for contrat in contrats %}
                                {{ _self.displayContrat(contrat) }}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% macro displayContrat(contrat) %}
    <tr>
        <td>{{ contrat.nom }}</td>
        <td>
            <a href="{{ path('contrat_edit', {'id':contrat.id}) }}"><i class="fas fa-edit"></i></a>
            <a href="{{ path('contrat_delete', {'id':contrat.id}) }}" onclick="return confirm('Êtes-vous sur de vouloir supprimer ce type de contrat ?')"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
{% endmacro %}

{% block javascript %}
$(document).ready(function () {
})
{% endblock %}

{% block javascript_script %}
{% endblock %}