{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style type="text/css">        
        thead th, td{text-align: center;}
        .rounded-img {
            border-radius: 50%;
            position: relative;
            left: -5px;
            margin-left: -23px;
            z-index: 1;
            width: 40px;
            height: 40px;
            object-fit: cover;
            transition: easy 0.4s all;
        }
        .ibox-tools{display: flex;align-items: center;}
        .openModalUser {display: none;}
        .fixed-btn{
            position: fixed;
            top: 2px;
        }
        #extSubmitFixed{display: none;}
        .loader-container{display: none;align-items: center;justify-content: center;}
        .sub-text{
            display: -webkit-box;
           -webkit-line-clamp: 4;
           -webkit-box-orient: vertical; 
           overflow: hidden;
        }
    </style>
{% endblock %}
{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Liste de Logement</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('immobilier_vente') }}">Vente</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Logement</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'flashes.html.twig' %}
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste de logement</h5>
                    <div class="ibox-tools">
                        <a href="{{ path('logement_new') }}" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Ajouter
                        </a>
                        <a href="{{path('vente_logement_print', {'chantier_id':chantier_id})}}" target="_blank" class="btn btn-primary" style="margin-left: 4px">Imprimer</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive"> 
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Identifiant</th>
                                    <th>Type</th>
                                    <th>Chantier</th>
                                    <th>Numero</th>
                                    <th>Superficie</th>
                                    <th>Nombre_piece</th>
                                    <th>Prix</th>
                                    <th>STATUS</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for logement in logements %}
                                <tr>
                                    <td>{{ logement.id }}</td>
                                    <td>{{ logement.identifiant }}</td>
                                    <td>{{ logement.type }}</td>
                                    <td>{{logement.chantier is not null ? logement.chantier.nameentreprise : ""}}</td>
                                    <td>{{ logement.numero }}</td>
                                    <td>{{ logement.superficie }}</td>
                                    <td>{{ logement.nombrePiece }}</td>
                                    <td>
                                        {{logement.prix ? logement.prix : "0"}}€
                                    </td>
                                    <td>{{logement.status}}</td>
                                    <td>
                                        <div style="display: flex;justify-content: center;">
                                            <a href="{{path('logement_edit', {'id':logement.id})}}" class="btn btn-info btn-icon">
                                              <div><i class="fa fa-edit"></i></div>
                                            </a>
                                            <span class="btn-icon" style="margin-left: 5px">
                                                <form method="post" action="{{ path('logement_delete', {'id': logement.id}) }}" onsubmit="return confirm('confirmez-vous la suppression?');">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ logement.id) }}">
                                                    <button class="btn btn-danger btn-icon">
                                                        <div><i class="fa fa-trash"></i></div>
                                                    </button>
                                                </form>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="19">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js_import %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
{% endblock %}

{% block javascript_script %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(".date-range-input").flatpickr({
            mode: "range",
            locale: "fr",
            dateFormat: "d-m-Y"
        });
    </script>
{% endblock %}

{% block javascript %}
$(document).ready( function () {
    $('table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        "columnDefs": [
            {"targets": [0, 7, 8], "orderable": false},
        ],
        "pageLength": 50,
        "order": []
    });
} );
{% endblock %}
